<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338592971331-i8qm66thn0sri67pbfh1atbi2cevfod1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338592971331-i8qm66thn0sri67pbfh1atbi2cevfod1</string>
	<key>API_KEY</key>
	<string>AIzaSyBM_AHHMC9pOpYIOWkOCYMNxWWWPCqpovw</string>
	<key>GCM_SENDER_ID</key>
	<string>338592971331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.feek.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-49844</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-49844.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338592971331:ios:da0d7c0d744a5a8afeb2f6</string>
</dict>
</plist>